<!DOCTYPE html>
<html>
<head>
    <title>AJAX Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>
<div class="container">
    <br><br><br><br>
    <button style="background-color:rgb(247, 98, 72);" onclick="myFunction(247, 98, 72)">Try it</button>

   
</div>
</body>
</html>